{% extends "master_getfedora.html" %}

{% from "submenu.html" import submenu with context %}
{% from "alt_menu.html" import alt_menu with context %}

{% block title %}{% trans trimmed %}Fedora Alternative Downloads{% endtrans %}{% endblock %}

{% block content %}
{{alt_menu(active="overview")}}
<div class="container-fluid">
  <div class="row justify-content-end">
    <div class="col-auto bg-fedora-purple text-white rounded-left-1 px-3 py-1 mt-3">
      {% trans trimmed n=releaseinfo.beta.announcement_release_number %}
      Fedora {{n}} beta released!
      {% endtrans %}
      <a href="{{url_for('alt_prerelease', lang_code=lang_code)}}" class="font-weight-bold text-white">
        {% trans trimmed %}Test it now.{% endtrans %}
      </a>
    </div>
  </div>
</div>

  <div class="bg-tranparent py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-7 col-lg-6 order-12 order-lg-1 text-center text-md-left">
          <h1 class="font-weight-light">{% trans trimmed %}Alternative Downloads.{% endtrans %}</h1>
          <h5 class="font-weight-light">{% trans trimmed %}Alternative versions and formats of Fedora for download.{% endtrans %}</h5>
          <!-- <a class="btn btn btn-outline-fedora-green mt-2" href="{{url_for('alt_download', lang_code=lang_code)}}">{% trans trimmed %}Download Now{% endtrans %}</a> -->
        </div>
        <div class="col-12 col-lg-6 col-md-7 col-sm-9 px-5 order-1 order-lg-12">
          <!-- <img src="/static/images/fedora-alt-logo.png" class="w-100 pb-4 pb-lg-0"/> -->
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 border py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-8 col-12 mx-auto text-center">
          <h5 class="font-weight-light">
            {% trans trimmed %}
            These Fedora downloads are either special-purpose - for testing, for specific architectures - or are more standard versions of Fedora in alternative formats such network installer format or formatted for bittorrent download.
            <br/><br/>
            This page is meant to serve as a single central resource for locating alternative versions of Fedora.
            {% endtrans %}
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-transparent py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-light pb-4">{% trans trimmed %}Network Installers{% endtrans %}</h3>
            <p class="font-weight-light">
                {% trans trimmed %}
                These are very small images you can use to install Fedora over the network.
                {% endtrans %}
            </p>
            <a href="{{url_for('security', lang_code=lang_code)}}">
              {% trans trimmed %}
              Verify your download.
              {% endtrans %}
            </a>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 align-self-center">
          <ul class="list-group">

            {% if releaseinfo.ga.editions.server.download_override.netinst_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.server.release_number %}
                Fedora {{n}}: Netinstall ISO image for x86_64
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.server.download_override.netinst_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Server/x86_64/iso/Fedora-Server-netinst-x86_64-%d-%s.iso' % (releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.release_number, releaseinfo.ga.editions.server.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-7 col-lg-4 col-md-5 col-sm-6 px-5">
          <!-- <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-cloud-server.png" /> -->
        </div>
        <div class="col-12 col-lg-8 col-md-7">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Bittorrent Downloads{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Fedora offers many bittorrent downloads. Access our directory of torrents below:
            {% endtrans %}
          </h5>
          <p><a href="//torrent.fedoraproject.org">{% trans trimmed %}Learn more.{% endtrans %}</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-8 col-md-7 order-12 order-md-1">
          <h3 class="font-weight-light pb-4 text-center text-lg-left">{% trans trimmed %}Alternate Architectures{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            These are additional architectures supported by Fedora beyond the standard set.
            {% endtrans %}
          </h5>
          <p><a href="{{url_for('alt_download', lang_code=lang_code)}}" class="btn btn-outline-fedora-blue mt-2">{% trans trimmed %}Download{% endtrans %}</a></p>
        </div>
        <div class="col-7 col-lg-4 col-md-5 col-sm-6 px-5 order-1 order-md-12">
          <!-- <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-cloud-server.png" /> -->
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-7 col-lg-4 col-md-5 col-sm-6 px-5">
          <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-cloud-server.png" />
        </div>
        <div class="col-12 col-lg-8 col-md-7">
          <h3 class="font-weight-light pb-4 text-center text-md-left">{% trans trimmed %}Cloud Base Images{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            These are standard Cloud Base images.
            {% endtrans %}
          </h5>
          <p><a href="{{url_for('alt_cloud', lang_code=lang_code)}}">{% trans trimmed %}Learn more.{% endtrans %}</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-transparent py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-light pb-4">{% trans trimmed %}Everything{% endtrans %}</h3>
            <p class="font-weight-light">
                {% trans trimmed %}
                Choose from thousands of packages to customize your installation; requires a fast network connection.
                {% endtrans %}
            </p>
            <a href="{{url_for('security', lang_code=lang_code)}}">
              {% trans trimmed %}
              Verify your download.
              {% endtrans %}
            </a>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 align-self-center">
          <ul class="list-group">

            {% if releaseinfo.ga.editions.everything.download_override.netinst_x86_64 %}
            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed n=releaseinfo.ga.editions.everything.release_number %}
                Fedora {{n}}: 64-bit network install image
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="{{dl(releaseinfo.ga.editions.everything.download_override.netinst_x86_64, 'https://download.fedoraproject.org/pub/fedora/linux/releases/%d/Everything/x86_64/iso/Fedora-Everything-netinst-x86_64-%d-%s.iso' % (releaseinfo.ga.editions.everything.release_number, releaseinfo.ga.editions.everything.release_number, releaseinfo.ga.editions.everything.rc_version))}}">{% trans trimmed %}Download{% endtrans %}</a>
              </div>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-200 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <h3 class="font-weight-light pb-4">{% trans trimmed %}Testing Images{% endtrans %}</h3>
            <p class="font-weight-light">
                {% trans trimmed %}
                These are unreleased development versions of Fedora made available for testing the next official Fedora release.
                {% endtrans %}
            </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 align-self-center">
          <ul class="list-group">

            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed %}
                Nightly builds
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="https://www.happyassassin.net/nightlies.html">{% trans trimmed %}View Images{% endtrans %}</a>
              </div>
            </li>

            <li class="list-group-item d-flex align-items-center">
              <div class="flex-grow-1">
                {% trans trimmed %}
                Other composes (Beta / TCs / RCs)
                {% endtrans %}
              </div>
              <div>
                <a class="btn btn-outline-fedora-blue" href="https://dl.fedoraproject.org/pub/alt/stage">{% trans trimmed %}View Images{% endtrans %}</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white py-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-7 col-lg-4 col-md-5 col-sm-6 px-5">
          <!-- <img class="w-100 pb-4 pb-lg-0" src="/static/images/g-cloud-server.png" /> -->
        </div>
        <div class="col-12 col-lg-8 col-md-7">
          <h3 class="font-weight-light pb-4 text-center text-md-left">{% trans trimmed %}Rawhide{% endtrans %}</h3>
          <h5 class="font-weight-light">
            {% trans trimmed %}
            Find out more about <a href="https://fedoraproject.org/wiki/Releases/Rawhide">Rawhide</a>, our ever-moving development version. Rawhide is targeted at advanced users, testers, and package maintainers.
            {% endtrans %}
          </h5>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
